<div class="product page landing">
  <div class="container">
    <div class="main-title">    
      <a class="product-link" href="https://discord.com" title="Discord">
        <div class="image-container">
          <div class="image discord-large"></div>
        </div>
      </a>
      <a href="https://calendly.com/book-pavilion/initial-consult" class="btn" target="_blank">
        Talk to us about integrating Discord into your community
      </a>
    </div>
    <div class="main-description">
      <p>We love Discord. A number of of our members are highly active in Discord communities and we have significant experience integrating Discord with other platforms. We have open-sourced some of the tools we use, and hope to open source more soon.</p>
    </div>
    <div id="topics" class="section anchor-buffer">
      <%= render partial: "topic_list", locals: { topics: topic_list(list_opts: { category: 195, no_definitions: true }) } %>
    </div>
  </div>
</div>