<div class="product page landing">
  <div class="container">
    <div class="main-title">    
      <a class="product-link" href="https://auth0.com" title="Auth0">
        <div class="image-container">
          <div class="image auth0-large"></div>
        </div>
      </a>
      <a href="https://calendly.com/book-pavilion/initial-consult" class="btn" target="_blank">
        Talk to us about integrating Auth0 into your community
      </a>
    </div>
    <div class="main-description">
      <p>We have significant experience using Auth0 to build, deploy and maintain enterprise identity systems. If you have any specific requests for open source Auth0 materials, please let us know.</p>
    </div>
    <div id="topics" class="section anchor-buffer">
      <%= render partial: "topic_list", locals: { topics: topic_list(list_opts: { category: 198, no_definitions: true }) } %>
    </div>
  </div>
</div>