<div class="page landing support">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @support %>
        <div class="lottie title support"></div>
      <% else %>
        <h1>Keep It Together</h1>
      <% end %>
    </div>
    <div class="text-container">
      <div class="secondary-text">
        We can help to manage your updates, site administration or multi-platform community.
      </div>
      <ul class="platform-shortlist">
        <li><a href="https://discourse.org" target="_blank" title="Discourse">
          <div class="image discourse"></div>
        </a></li>
        <li><a href="https://wordpress.org" target="_blank" title="Wordpress">
          <div class="image wordpress"></div>
        </a></li>
        <li><a href="https://auth0.com" target="_blank" title="Auth0">
          <div class="image auth0"></div>
        </a></li>
        <li><a href="https://shopify.com" target="_blank" title="Shopify">
          <div class="image shopify"></div>
        </a></li>
        <li><a href="https://discord.com" target="_blank" title="Discord">
          <div class="image discord"></div>
        </a></li>
        <li><a href="/software" class="more">more</a></li>
      </ul>
    </div>
    <div class="buttons">
      <a href="#options" class="btn btn-primary btn-cta scroll-and-center">See options</a>
      <a href="https://calendly.com/book-pavilion/initial-consult" class="btn btn-cta">Book a consult</a>
    </div>
  </div>
</div>

<div class="page first">
  <div class="container">
    <div class="scene-container">
      <div class="lottie scene rossatto large mechanic"></div>
    </div>
    <div class="text-container">
      <div class="primary-text">
        <span>Every support request is an opportunity</span>
      </div>
      <div class="secondary-text">
        We have both free resources to help you help yourself, and a support service if you need hands-on assistance. We think supporting our software is just as important as building it. Every support request is an opportunity to better understand our software.
      </div>
    </div>
    <div class="buttons">
      <a href="#options" class="btn btn-primary btn-cta scroll-and-center">See options</a>
      <a href="/software" class="btn btn-cta">Platforms we support</a>
    </div>
  </div>
</div>

<div id="options" class="page second anchor-buffer support-options">
  <h2>Support Options</h2>
  <div class="container">
    <div class="section first">
      <div class="title">
        <h3>Free</h3>
      </div>
      <div class="description">
        Free and open source resources to support your community.
      </div>
      <div class="features">
        <h4>Resources</h4>
        <ul>
          <li>
            <label>
              <a href="https://thepavilion.io/t/3042" target="_blank">
                Customisation support servers and alerts
              </a>
            </label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
            </div>
          </li>
          <li>
            <label>
              <a href="https://thepavilion.io/c/knowledge/support" target="_blank">
                Support knowledge-base
              </a>
            </label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
            </div>
          </li>
          <li>
            <label>
              <a href="https://thepavilion.io/c/open-source" target="_blank">
                Support community
              </a>
            </label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="section third">
      <div class="title">
        <h3>Premium</h3>
        <a href="#contact" class="btn btn-primary">Get in touch</a>
      </div>
      <div class="description">
        For multi-platform or customised communities, starting at $300 USD a month.
      </div>
      <div class="features">
        <h4>Features</h4>
        <ul>
          <li>
            <label>Identity management support</label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
              <div class="image wordpress" title="wordpress"></div>
              <div class="image auth0" title="Auth0"></div>
              <div class="image shopify" title="Shopify"></div>
              <div class="image discord" title="Discord"></div>
            </div>
          </li>
          <li>
            <label>Multi-platform management</label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
              <div class="image wordpress" title="wordpress"></div>
              <div class="image auth0" title="Auth0"></div>
              <div class="image shopify" title="Shopify"></div>
              <div class="image discord" title="Discord"></div>
            </div>
          </li>
          <li>
            <label>Customisation update management</label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
              <div class="image wordpress" title="Wordpress"></div>
              <div class="image auth0" title="Auth0"></div>
              <div class="image shopify" title="Shopify"></div>
              <div class="image discord" title="Discord"></div>
            </div>
          </li>
          <li>
            <label>Hands-on site administration</label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
              <div class="image wordpress" title="wordpress"></div>
              <div class="image auth0" title="Auth0"></div>
              <div class="image shopify" title="Shopify"></div>
              <div class="image discord" title="Discord"></div>
            </div>
          </li>
          <li>
            <label>Server maintenance and diagnostics</label>
            <div class="platform-shortlist">
              <div class="image discourse" title="Discourse"></div>
              <div class="image wordpress" title="wordpress"></div>
              <div class="image auth0" title="Auth0"></div>
              <div class="image shopify" title="Shopify"></div>
              <div class="image discord" title="Discord"></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="page contact">
  <div class="container">
    <div class="title-container">
      <% if !mobile_view? && @contact %>
        <div class="lottie contact"></div>
      <% else %>
        <h1>Talk to Us</h1>
      <% end %>
    </div>
    <div class="buttons">
      <a href="https://calendly.com/book-pavilion/initial-consult" class="btn btn-primary btn-cta">Book a free consult</a>
      <a href="/customisations" class="btn">More about customisations</a>
    </div>
  </div>
</div>

<% if @support.present? %>
  <script>
    var title = lottie.loadAnimation({
      container: document.querySelector(".lottie.support"),
      renderer: 'svg',
      autoplay: true,
      loop: false,
      path: "<%= @support.upload.url %>"
    });
    title.setSpeed(0.2);
  </script>
<% end %>

<script>
  setTimeout(() => {
    lottie.loadAnimation({
      container: document.querySelector(".lottie.mechanic"),
      renderer: 'svg',
      autoplay: true,
      loop: true,
      path: "https://pavilion-assets.nyc3.digitaloceanspaces.com/landing/lottie/mechanic.json"
    });
  }, 30);
</script>

<% if @contact.present? %>
  <script>
    setTimeout(() => {
      var contact = lottie.loadAnimation({
        container: document.querySelector(".lottie.contact"),
        renderer: 'svg',
        autoplay: true,
        loop: false,
        path: "<%= @contact.upload.url %>"
      });
      contact.setSpeed(0.2);
    }, 60);
  </script>
<% end %>